name: Release
on:
  push:
    branches:
      - "master"
      - "alpha"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: "Lint"
        run: npm run check:linting

      - name: "Test"
        run: npm test

      - name: "Build"
        run: npm run build

      - name: "Format"
        run: npm run check:formatting

      - name: "Commit formatting check"
        uses: wagoid/commitlint-github-action@v5

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release
